.popup__close-button_position {
    justify-self: end;
    right: 0;
    left: 40px;
    top: 0;
}

@media screen and (max-width: 950px) {
    .popup__close-button_position {
        left: 30px;
    }
}