.popup__container {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.popup__container:nth-child(3n) {
    margin-top: 30px;
}

@media screen and (max-width: 950px) {
    .popup__container {
        width: 282px;
    }
}