.header__button {
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    background-position: center;
    cursor: pointer;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
}